
<div class="box">
    <div class="state">
        <i class="fa-solid fa-circle" [style.color]="getColor(state)"></i>
        <span>{{state | state}}</span>
    </div>
    <div class="left">
        <p class="task-message">{{message}}</p>
        <span class="task-date">{{date}}</span>
    </div>
    <div class="right">
        <div class="icons">
            <div class="icon-container">
                <i (click)="updateTask(id,state,message,date)" class="fa-sharp fa-solid fa-pen update"></i>
            </div>
            <span class="separator">|</span>
            <div class="icon-container">
                <i (click)="deleteTask(id)" class="fa-solid fa-trash delete"></i>
            </div>
        </div>
    </div>
</div>