.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 50% -20.71%, #eaecd0 0, #e6edd2 6.25%, #e2eed4 12.5%, #deefd6 18.75%, #daf0d9 25%, #d6f1dc 31.25%, #d3f1df 37.5%, #d0f2e2 43.75%, #cdf2e6 50%, #cbf2ea 56.25%, #c9f2ed 62.5%, #c8f2f1 68.75%, #c7f2f4 75%, #c7f2f7 81.25%, #c8f1fa 87.5%, #c9f1fd 93.75%, #cbf0ff 100%);
    height: 100vh;
}

.task-container {
    width: 600px;
    height: 540px;
    border-radius:12px;
    overflow: hidden;
}

.top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-image: radial-gradient(circle at 31.7% 118.3%, #728bfa 0, #3c78f2 50%, #0066ea 100%);}

.button-box {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    width: 80%;
}

.button-box button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    color: white;
    background-color: #ff78b8;
    border: 2px solid #a39fff;
    cursor: pointer;
}

.button-box button:hover{
    background-color: rgb(52, 255, 113);
}

.button-box h1 {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.search-box {
    height: 40px;
    width: 80%;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding: 0 10px;
    font-size: 15px;
    color: rgb(96,96,96);
    font-weight: 400;
}

::ng-deep input:focus-visible {
    outline-color: #79b7ff;; 
  }

.search-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(187, 186, 186);
}

.bottom {
    background-color: #f1f1f1;
    height: 70%;
    padding: 20px;
    
}

.bottom span {
    font-weight: 600;
    color: gray;
}

.bottom-container {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    height: 280px;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-box select {
    height: 30px;
    border-color: rgb(183, 183, 183);
    border-radius: 4px;
    color: rgb(72, 72, 72);
    font-weight: 300;
    outline-color: #83bdff;
     width: 115px;
}


/*task form*/
.container-form {
    width: 400px;
    min-height: 400px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(226, 226, 226);
}

.error-text {
    color: rgb(187, 0, 0);
    margin-bottom: 5px;
}

.btn-exit {
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 20px;
    color: rgb(201, 201, 201);
    cursor: pointer;
}

.btn-exit:hover{
    color: rgb(255, 91, 91);
}

.form-box {
    width: 80%;
    min-height: 300px;
    border: 1px solid #d9d9d9;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    
}

.element-box textarea {
    width: 100%;
    border-color: #c1c1c1;
    font-size: 15px;
    border-radius: 5px;
    outline-color: #79b7ff;
}

.element-box select {
    width: 100%;
    height: 40px;
    outline-color:#79b7ff;
    border-color: #c1c1c1;
}

.element-box label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}


.element-box-btn {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.element-box-btn button {
    padding: 10px 25px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    background-color: #459cff;
}

.element-box-btn button:hover {
    background-color: #00489b;
}


