<div class="container">
    <div class="task-container">
        <div class="top">
            <div class="button-box">
                <h1>Welcome to Task App</h1>
                <button><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search Task">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        <div class="bottom">
            All Task
        </div>
    </div>
</div>
